include catppuccin-{{ .theme }}

set selection-clipboard clipboard

# Horizontal scrolling (only effective when zoomed in past window width)
map h scroll left
map l scroll right
map <Left> scroll left
map <Right> scroll right
